name: Maven Build

on:
  push:
   branch: ["main"]

permissions:
  contents: read

jobs:
  update-code:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Deploy new version
        run: |
          cd /home/dspace/AntarCris-backend
          git pull origin main
          rm -r /home/dspace/AntarCris-backend/dspace/target || true


  compile-mvn-package:
    needs: update-code
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Compile package
        run: |
            export JAVA_HOME="/home/dspace/.sdkman/candidates/java/current"
            export PATH=$JAVA_HOME/bin:$PATH
            cd /home/dspace/AntarCris-backend/
            /home/dspace/.sdkman/candidates/maven/current/bin/mvn package


  install-ant-package:
    needs: compile-mvn-package
    runs-on: self-hosted
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
       with:
        persist-credentials: false

     - name: Install new version using Ant
       run: |
          export JAVA_HOME="/home/dspace/.sdkman/candidates/java/current"
          export PATH=$JAVA_HOME/bin:$PATH
          cd /home/dspace/AntarCris-backend/dspace/target/dspace-installer
          /home/dspace/.sdkman/candidates/ant/current/bin/ant fresh_install


  move-solr-files:
    needs: install-ant-package
    runs-on: self-hosted
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
       with:
        persist-credentials: false

     - name: Move files
       run: |
            cd /home/dspace/
            cp -rf dspace/solr/* /var/solr/data/


  restart-services:
    needs: move-solr-files
    runs-on: self-hosted
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
       with:
        persist-credentials: false

     - name: Restart services
       run: |
          sudo systemctl restart solr
          sudo systemctl restart dspace.service


